# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Project specific
screenshots/
output/
credentials.json

kindle-ocr-459504-702ec4cd5c69.json